/column-access/.idea/
/column-access/*.iml
/column-access/target/
/column-access/.classpath
/column-access/.project
/column-access/.settings
/column-access/.idea/vcs.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

